* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(166, 210, 247);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snow {
    position: fixed;
    top: -5vh;
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}